body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

.container
{
    border-radius: 15px;
    padding: 20px;
    margin: 10px 5px;
}

.game
{
    background-color: white;
    box-shadow: 0px 7px 20px -6px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    &.noclick
    {
        cursor: default;
    }
}

.name
{
    font-size: 1.6rem;
}

.tiles
{
    display: flex;
    flex-direction: row;
}

.tile
{
    background-color: rgb(141, 141, 255);
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 25px;
}

.flex-r
{
    display: flex;
    flex-direction: row;
}

.input-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; 
}

.input-container {
    flex: 1 1 200px; /* Allows items to grow, shrink, and set a minimum width */
    min-width: 200px; /* Ensures inputs don't get too small */
    margin: 20px;
}

.input-container.button {
    flex: 1 1 auto; /* Allows buttons to adjust */
    padding: 10px 15px;
    text-align: center;
    border: none;
    background-color: rgb(141, 141, 255);
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
}

.input-container > label
{
    font-size: 0.8rem;
}

.input-container > input
{
    appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid rgb(141, 141, 255);
	background: white;
	border-radius: 5px 5px 0 0;
	padding: 10px;
	color: rgb(141, 141, 255);
    width: 100%;
}

.title
{
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(141, 141, 255);
}

.categories, .mechanics
{
    display: flex;
}

.category, .mechanic
{
    background-color: rgb(141, 208, 255);
    padding: 10px;
    border-radius: 25px;
}