<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Game Search</title>
    <script>
        function generateGameHTML(game, shouldShowScore, shouldShowSearches) {
            return `<div class="container game" onclick="window.location.href='/game/${game.name}'">
                <div class="name">${game.name}</div>
                <div class="tiles">
                    <div class="container tile flex-r">
                        <img src="/static/assets/people.png" width="20" height="20">
                        <div>${game.minplayers}</div>
                        <div>&nbsp;-&nbsp;</div>
                        <div>${game.maxplayers}</div>
                    </div>
                    <div class="container tile minage">Age: ${game.minage}+</div>
                    <div class="container tile flex-r">
                        <img src="/static/assets/time-left.png" width="20" height="20">
                        <div>${game.playingtime} min.</div>
                    </div>
                </div>
                <p> Categories: </p>
                <div class="categories">
                    ${game.categories.map(category => `<div class="container category">${category}</div>`).join("")}
                </div>
                ${shouldShowScore ? `<div class="score">Score: ${game.score}</div>` : ""}
                ${shouldShowSearches ? `<div class="count">Searched ${game.count} times</div>` : ""}
            </div>`
        }

        async function searchGames() 
        {
            let params = new URLSearchParams();
            params.append("name", document.getElementById("name").value);
            params.append("description", document.getElementById("description").value);
            params.append("maxplayers", document.getElementById("maxplayers").value);
            params.append("minage", document.getElementById("minage").value);
            params.append("minplayers", document.getElementById("minplayers").value);
            params.append("playingtime", document.getElementById("playingtime").value);

            let category = document.getElementById("category").value;
            if (category) params.append("category", category);

            let mechanic = document.getElementById("mechanic").value;
            if (mechanic) params.append("mechanic", mechanic);

            let response = await fetch(`/search?${params.toString()}`);
            let data = await response.json();

            let resultsDiv = document.getElementById("results");
            resultsDiv.innerHTML = "<h3>Results:</h3><ul>";
            data.forEach(game => {
                resultsDiv.innerHTML += generateGameHTML(game, true, false);
            });
            resultsDiv.innerHTML += "</ul>";

            // Hide the popular searches section when showing search results
            document.getElementById("results").style.display = "block";
            document.getElementById("popular-searches").style.display = "none";
            document.getElementById("results-semantic").style.display = "none";
        }

        function displayPopularSearches() 
        {
            // Clear search results and show popular searches
            document.getElementById("results").innerHTML = "";
            document.getElementById("popular-searches").style.display = "block";
            loadPopularSearches();
        }

        async function loadPopularSearches() 
        {
            let response = await fetch('/popular_searches');
            let data = await response.json();

            let popularDiv = document.getElementById("popular-searches");
            popularDiv.innerHTML = "<h3>Popular Searches:</h3><ul>";
            data.forEach(game => {
                popularDiv.innerHTML += generateGameHTML(game, false, true);
            });
            popularDiv.innerHTML += "</ul>";
        }

        async function semanticSearch() 
        {
            const query = document.getElementById('searchInput').value;
            if (!query) {
                alert('Please enter a search query.');
                return;
            }
        
            const response = await fetch(`/semantic_search?query=${encodeURIComponent(query)}`);
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            const results = await response.json();
            const resultsDiv = document.getElementById('results-semantic');
            resultsDiv.innerHTML = ''; // Clear previous results

            if (results.length === 0) {
                resultsDiv.innerHTML = '<p>No results found.</p>';
                return;
            }
            resultsDiv.innerHTML = "<h3>Semantic search results:</h3><ul>";
            results.forEach(game => {
                resultsDiv.innerHTML += generateGameHTML(game, false, false);
            });

            document.getElementById("results-semantic").style.display = "block";
            document.getElementById("popular-searches").style.display = "none";
            document.getElementById("results").style.display = "none";
        }

        function searchToggle()
        {
            let panel = document.getElementById("manual-search");
            panel.style.display = panel.style.display === "flex" ? "none" : "flex";
        }

        window.onload = loadPopularSearches;
    </script>
</head>
<body>
    <h1 class="title">Board Game Search</h1>
    <div class="input-holder">
        <div class="input-container">
            <label>Free Text</label>
            <input type="text" id="searchInput" placeholder="Enter your search query">
        </div>
        <button onclick="semanticSearch()">Semantic search</button>
        <button onclick="searchToggle()">Manual search</button>
    </div>

    <div class="input-holder" id="manual-search" style="display: none">
        <div class="input-container">
            <label>Game Name (Fuzzy)</label>
            <input type="text" id="name" placeholder="Enter game name">
        </div>

        <div class="input-container">
            <label>Description (Fuzzy)</label>
            <input type="text" id="description" placeholder="Enter game description">
        </div>

        <div class="input-container">
            <label>Max Players</label>
            <input type="number" id="maxplayers" placeholder="5">
        </div>

        <div class="input-container">
            <label>Min Age</label>
            <input type="number" id="minage" placeholder="0">
        </div>

        <div class="input-container">
            <label>Min Players</label>
            <input type="number" id="minplayers" placeholder="1">
        </div>

        <div class="input-container">
            <label>Playing Time</label>
            <input type="number" id="playingtime" placeholder="60">
        </div>

        <div class="input-container">
            <label>Boardgame Category</label>
            <input type="text" id="category" placeholder="Enter category">
        </div>

        <div class="input-container">
            <label>Boardgame Mechanic</label>
            <input type="text" id="mechanic" placeholder="Enter mechanic">
        </div>

        <button class="input-container button" onclick="searchGames()">Search</button>
        <button class="input-container button" onclick="displayPopularSearches()">Popular Searches</button>
    </div>

    <div id="popular-searches"></div>
    <div id="results"></div>
    <div id="results-semantic"></div>
</body>
</html>